:root {
    --ml: 0;
    --mb: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

body.white {
    background-color: #f0f0f0;
}

body.black {
    background-color: #999999;
}

p {
    position: absolute;
    font-size: 30px;
    text-shadow: white 2px 2px 2px;
}

button {
    position: absolute;
    width: 30%;
    font-size: 30px;
    margin-top: 100px;
}

.board {
    width: 50%;
    aspect-ratio: 1;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    gap: 0;
    border: 2px solid #333;
}

.row {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0;
}

.cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.white {
    background: #f0d9b5;
}

.cell.black {
    background: #b58863;
}

.cell.highlighted {
    opacity: 70%;
}

.piece {
    width: 5%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #000;
    box-shadow: 2px 2px 2px #000;
    cursor: pointer;
    position: absolute;
    margin-left: 0;
    margin-bottom: 0;
    transition: margin-left 0.5s ease-out,
                margin-bottom 0.5s ease-out;
}

.piece.white {
    background: #fff;
}
.piece.black {
    background: #272727;
}

.piece.king {
    background-image: url("media/crown.png");
    background-size: contain;
}

.piece.deleted {
    animation: pop;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes pop {
    to {
        opacity: 0;
        transform: scale(500%);
    }
}


